In [1]:
import pandas as pd

In [2]:
with open("airquality.csv") as f:
    airquality = pd.read_csv("airquality.csv").convert_dtypes()

In [3]:
(
    airquality.head()
    .style.hide_index()
)

In [4]:
airquality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    Int64
 1   Solar.R  146 non-null    Int64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    Int64
 4   Month    153 non-null    Int64
 5   Day      153 non-null    Int64
dtypes: Int64(5), float64(1)
memory usage: 8.0 KB